.uIWrapper {
  margin: 0 0 3rem 0; }
  .uIWrapper .itemCost {
    color: #555555;
    font-size: 1.2rem;
    margin: .7rem 0;
    font-weight: 500; }
  .uIWrapper .addDate {
    margin: .5rem 0;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.55);
    letter-spacing: 1px; }
  .uIWrapper .itemDescription {
    margin: .5rem 0 1.5rem 0; }
  .uIWrapper .upper {
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column; }
  .uIWrapper .userImg {
    flex: 0 0 10rem;
    height: 10rem;
    width: 10rem;
    background: #eee;
    border-radius: 50%;
    margin: unset; }
  .uIWrapper .lower {
    display: flex; }
  .uIWrapper h3.itemName {
    line-height: 1.2;
    font-size: 1.2rem;
    letter-spacing: 2px; }
    .uIWrapper h3.itemName a {
      transition: none;
      color: inherit;
      font-size: inherit;
      border-bottom: solid 2px transparent; }
      .uIWrapper h3.itemName a:hover {
        border-bottom: solid 2px; }
  .uIWrapper a {
    font-size: .9rem;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.55);
    cursor: pointer;
    transition: all .3s; }
    .uIWrapper a:hover {
      color: #222;
      cursor: pointer; }
  .uIWrapper button {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .2rem 1rem;
    cursor: pointer;
    transition: opacity .3s; }
    .uIWrapper button:hover {
      opacity: .8; }
  .uIWrapper .deleteBtn {
    background: #222;
    color: #fff; }
  .uIWrapper .editBtn {
    margin-left: 1rem;
    background: none;
    border: solid 2px; }
    .uIWrapper .editBtn:hover {
      opacity: .7; }
