.item {
  padding-bottom: 4%;
  height: 250px;
  flex: 0 1 48%;
  align-items: stretch; }
  .item:nth-child(2n) {
    padding-left: 0;
    padding-right: 0; }

.content {
  height: 100%;
  background: #eee;
  cursor: pointer; }

.itemImage {
  display: block;
  margin: auto;
  object-fit: contain;
  max-width: 90%;
  max-height: 78%;
}

.itemTitle{
  text-align: center;
}